<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <div class="container py-5" style="max-width: 800px">
        <main>
            <div class="py-5 text-center">
                <i class="bi bi-check2-circle text-success" style="font-size: 57px;"></i>
                <h2>Flask Todo</h2>
                <p class="lead">The best todo-list software on the planet!</p>
            </div>
            <form>
                <div class="input-group mb-3">
                    <input type="text" name="todo" id="todo" required class="form-control form-control-lg"
                        placeholder="Apa yang perlu kamu kerjakan?" aria-label="Apa yang perlu kamu kerjakan?">
                    <button class="btn btn-success" id="add-todo" type="button"><i class="bi bi-plus-lg me-2"></i>
                        Tambah
                    </button>
                </div>
            </form>
            {% block  content %}{% endblock %}
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'app.js') }}" ></script>
</body>
</html>