<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>Flask Todo</title>
</head>

<body>

    <div class="container py-5" style="max-width: 800px">
        <main>
            <div class="py-5 text-center">
                <i class="bi bi-check2-circle text-success" style="font-size: 57px;"></i>
                <h2>Flask Todo</h2>
                <p class="lead">The best todo-list software on the planet!</p>
            </div>

            <form action="/new" method="POST">
                <div class="input-group mb-3">
                    <input type="text" name="todo" id="todo" required class="form-control form-control-lg"
                        placeholder="Apa yang perlu kamu kerjakan?" aria-label="Apa yang perlu kamu kerjakan?">
                    <button class="btn btn-success" id="add-todo" type="button"><i class="bi bi-plus-lg me-2"></i>
                        Tambah
                    </button>
                </div>
            </form>

            <div class="list-group">
                {% for todo in todos %}
                <div class="list-group-item list-group-item-action d-flex gap-3 py-4" aria-current="true">
                    <i class="bi {% if todo.done %}bi-check-circle-fill{% else %}bi-circle{% endif %} text-success update-todo"
                        style="font-size: 25px; cursor: pointer;" class="" data-id="{{ todo.id }}">
                    </i>
                    <div class="d-flex gap-2 w-100">
                        <h3 class="mb-0">{{ todo.name }}</h3>
                    </div>
                    <i class="bi bi-trash text-danger delete-todo" style="font-size: 25px; cursor: pointer;"
                        data-id="{{ todo.id }}">
                    </i>
                </div>
                {% endfor %}
            </div>
        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        // since, bootstrap 5 is not depends on jQuery, I recommend to use ES6 approach.
        $(document).ready(function () {
            $('#add-todo').click(function () {
                const todo_name = $('#todo').val();
                var that = this;
                $.post('/temp/new', { name: todo_name }, function (data) {
                    $('.list-group').append(`
                        <div class="list-group-item list-group-item-action d-flex gap-3 py-4" aria-current="true">
                            <i class="bi bi-circle text-success update-todo"
                                style="font-size: 25px; cursor: pointer;" class="" data-id="${ data.id }">
                            </i>
                            <div class="d-flex gap-2 w-100">
                                <h3 class="mb-0">${ data.name }</h3>
                            </div>
                            <i class="bi bi-trash text-danger delete-todo" style="font-size: 25px; cursor: pointer;"
                                data-id="${ data.id }">
                            </i>
                        </div>
                    `)
                })
            });

            $(document).on('click', '.update-todo', function () {
                const id = $(this).data('id');
                var that = this;
                $.post('/temp/update', { id: id }, function (data) {
                    // window.location.reload();
                    if($(that).hasClass("bi-check-circle-fill")){
                        $(that).removeClass('bi-check-circle-fill');
                        $(that).addClass('bi-circle');
                    } else {
                        $(that).removeClass('bi-circle');
                        $(that).addClass('bi-check-circle-fill');
                    }
                })
            });

            $(document).on('click', '.delete-todo', function () {
                const id = $(this).data('id');
                var that = this;
                $.post('/temp/delete', { id: id }, function (data) {
                    // window.location.reload();
                    $(that).closest('.list-group-item').remove();
                })
            });
        });
    </script>
</body>

</html>